{{define "chat"}}
<!DOCTYPE>
<html>
    <head>
        <title>Table</title>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/pure-min.css">
		<link rel="stylesheet" href="css/chat.css">
		<style type="text/css">
 			/* ugly hack to get pure-grids work without 1px gap... */
	    	* { margin: -1px; padding: -1px;}          
        </style>
        <!--schemeid: 3s21Tw0w0w0w0-->
    </head>
    <body>
		<div id="statusbar" class="pure-g">
			<div class="pure-u-1-4 blue1"><div class="stripes"></div></div>
			<div class="pure-u-1-4 blue2"><div class="stripes"></div></div>
			<div class="pure-u-1-4 blue3"><div class="stripes"></div></div>
			<div class="pure-u-1-4 orange1"><div class="stripes"></div></div>
		</div>
		<h5 style="margin: 0">Hi, {{.User.Login}}</h5>

	<div id="chat">
	    <div id="chatentries"></div>
	</div>
	<div class="pure-g-r">
	
		<div class="pure-u-4-5">
			<input type="text" placeholder="Type..." id="chattext">
		</div>
		<div class="pure-u-1-5">
			<a class="pure-button pure-button-primary" id="sentButton">Send</a>	
		</div>
	</div>
	<a id="logout" href="/logout">logout</a>
	<script type="application/javascript">    
		
		var ws = "ws://{{.Host}}/ws";
		var reconnect_timeout = 1000;

		var isMobile = {
			Android: function() { return navigator.userAgent.match(/Android/i); },
			BlackBerry: function() { return navigator.userAgent.match(/BlackBerry/i); },
			iOS: function() { return navigator.userAgent.match(/iPhone|iPad|iPod/i); },
			Opera: function() { return navigator.userAgent.match(/Opera Mini/i); },
			Windows: function() { return navigator.userAgent.match(/IEMobile/i); },
			any: function() {
				return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
			}
		};

		// TODO: improve this, may load whole mobile-optimized css file
		if( isMobile.any()){
			var sheet = document.createElement('style')
			sheet.innerHTML = "body, html { font-size: 200%;} input#chattext{ font-size: 135%}";
			document.body.appendChild(sheet);
		}

		function toArray(obj){
			var arr = [];
			for (var i = obj.length >>> 0; i--;){
				arr[i] = obj[i];
			}
			return arr;
		}

		function changeState(state){
			var div = toArray(document.getElementById("statusbar").childNodes);
			div = div.filter(function(element){
				if (element.className != "stripes" && element.className != undefined)
					return element
			})

			var colors;
			if(state == 0)
				colors = ["blue1","blue2","blue3","orange1"] 
			else if(state==1)
				colors = ["red1","red2","red3","red4"];

			for (i=0; i < div.length; i++){
				div[i].className = "pure-u-1-4 " + colors[i];
			}
		}
		
		function start(wsServerLocation){
			connection = new WebSocket(wsServerLocation);
			connection.onopen = function(){
				changeState(0);
			}

			connection.onerror = function(){
				console.log("error");
				changeState(1);
			}			
			
			connection.onmessage = function(event){
				var msg = JSON.parse(event.data);
				createChatEntry(msg.Username+": "+msg.Text)
			}

			connection.onclose = function(event){
				changeState(1);
				console.log("close");
				setTimeout(function(){start(wsServerLocation)}, reconnect_timeout);
			}

		}

		start(ws);

		document.getElementById("chattext").focus();
			
			var createChatEntry = function(text){
				var div = document.createElement("div");
				div.innerText = text;
				document.getElementById("chatentries").appendChild(div);
				document.getElementById("chatentries").scrollTop =  document.getElementById("chatentries").scrollHeight;
		}
		
		var submit = function(text){
			connection.send(JSON.stringify({Username:"", Text:text}));
		}

		
		document.getElementById("sentButton").onclick = function(event){
			chattext = document.getElementById("chattext")
			submit(chattext.value)
			chattext.value = ""
			event.preventDefault();
		}

		document.getElementById("chattext").onkeydown = function(event){
			var code = event.keyCode;
			if(code === 13){
				submit(this.value);
				this.value = "";
				event.preventDefault();
			}
		}
        </script>
    </body>
</html>
{{end}}
