{{define "login"}}
<!DOCTYPE>
<html>
    <head>
        <title>gofire</title>
    </head>
    <link href='http://fonts.googleapis.com/css?family=Mrs+Sheppards' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <body>
        <div id="loginbox">
            <!--<img src="img/logo300.png">-->
            <h1>gofire</h1>
            <form action="/login", method="post">
                <input type="text" name="user" placeholder="Username">
                <input type="password" name="pw" placeholder="Password">
                <input type="submit" value="SIGN IN" id="submit" style="background-color:#DC3F1C;color:#FFF;border:0px;">
            </form>
        </div>
    </body>
</html>
{{end}}