{{define "login"}}
<!DOCTYPE>
<html>
    <head>
        <title>gofire</title>
    </head>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <body>
        <div id="loginbox">
            <img src="img/logo300.png">
            <form action="/login", method="post">
                <input type="text" name="user" placeholder="Username">
                <input type="password" name="pw" placeholder="Password">
                <input type="submit" value="SIGN IN" id="submit" style="background-color:#FF8900;color:#FFF;font-size:28px;">
            </form>
        </div>
    </body>
</html>
{{end}}