body{
	margin:0px
}

div#carousel{
	background-color:gray;
	height:480px;
	width:9999px;
	margin: 0px 0px 20px 0px;
}

#carousel ul{
	height:480px;
	margin:0px;
	padding: 0px;	
}

#carousel ul li{
	height:480px;
	width:640px;
	border-left: 1px solid black;
	list-style-type:none;
	float:left;
}

div.chat{
	background-color:yellow;
}

div.chat{
	width:640px;
	height:480px;
}

div#inputset{
	background-color:red;
	height:auto;
	width:400px;
	padding:0px;
}

input#message{
	width:300px;
}

button#send{
	width:90px;
}

