@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:800,400);

/*http://www.colourlovers.com/palette/433420iterrasian*/

html, body{
    margin:0;
    background-color:#EBE18C;
    font-family:'Merriweather Sans',Tahoma, Arial;
}

#loginbox{
    margin:0px auto;
    margin-top:80px;
    width:400px;
    height:auto;
    background-color:#448D7A;
    border-radius:3px;
    border: #448D7A solid 1px;
}

h1{
    margin-top:0%;
    margin-bottom:2%;
    font-weight:800;
    color:#FFF;
    font-size:50px;
    width:100%;
    text-align:center;
}

#loginbox img{
    width:50%;
    margin:2% 25% 2% 25%;
}

#loginbox form{
    overflow:hidden;
    margin-bottom:2px;
}



#loginbox input{
    display:block;
    width:90%;
    float:left;
    margin:0% 5% 2% 5%;
    padding:10px;
    font-size:18px;
    background-color:hsl(0, 0%, 88%);
    border:1px solid hsl(0, 0%, 80%);
}

