<!DOCTYPE html>
<html>
    <head>
        <title>Apitest</title>
        <link rel="stylesheet" href="style.css" type="text/css" media="all" charset="utf-8">
        <script src="console.js" type="application/javascript"></script>
    </head>
    <body>
        <header>
            <h1>gofire Api-Test</h1>
        </header>
        <content>
        <section id="chatapi">
            <h2>ChatRoom</h2>
            <sub>
                <h3>GET /api/c</h3>
                <p>
                    Get all registered chatrooms
                </p>
                <button id="getallch">Get All Chatrooms</button>
            </sub>
            <sub>
                <h3>POST /api/c</h3>
                <p>
                    Register a new chatroom
                </p>
                <table>
                    <tbody>
                        <tr>
                            <td>name</td>
                            <td>the name of the new chatroom</td>
                        </tr>
                    </tbody>
                </table>
                <input id="chname" type="text" placeholder="Name of the chat"/><button id="addch">Add Chatroom</button>
            </sub>
            <sub id="getspecchat">
                <h3>GET /api/c/<i>CHATNAME</i>/about</h2>
                <p>
                    Get information about specific chat
                </p>
                <input id="cname" type="text" placeholder="Enter Chatroomname"/><button id="getch">Get Chatroom</button>
            </sub>
        </section>
        </content>
        <footer>
            <div id="console">
                <!-- Articles inserted by js -->
            </div>
        </footer>
        <script type="application/javascript">
            var out = new Output("console");
            
             document.getElementById("getch").onclick = function(){
                var name = document.getElementById("cname").value;
                 
                var url = "http://localhost:8080/api/c/"+name+"/about";
                
                var http = new XMLHttpRequest();
                
                http.onreadystatechange = function() {//Call a function when the state changes.
                    if(http.readyState == 4 && http.status == 200) {
		              out.add(http.responseText);
	               }
                }
                
                http.open("GET", url, true);
                
                http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                http.send(null);
            }
            
            document.getElementById("getallch").onclick = function(){
                var url = "http://localhost:8080/api/c"
                
                var http = new XMLHttpRequest();
                
                http.onreadystatechange = function() {//Call a function when the state changes.
                    if(http.readyState == 4 && http.status == 200) {
		              out.add(JSON.stringify(http.responseText));
	               }
                }
                
                
                
                http.open("GET", url, true);
                
                http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");   
                http.send(null);
            }
            
            document.getElementById("addch").onclick = function(){
                var url = "http://localhost:8080/api/c"
                
                var name = document.getElementById("chname").value;
                
                var params = "name="+name;
                
                var http = new XMLHttpRequest();
                
                http.onreadystatechange = function() {//Call a function when the state changes.
                    if(http.readyState == 4 && http.status == 200) {
		              out.add(http.responseText);
	               }
                }
                
                
                
                http.open("POST", url, true);
                
                http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                http.setRequestHeader("Content-length", params.length);
                http.setRequestHeader("Connection", "close");
                
                http.send(params);
            };
            
            
        </script>
    </body>
</html>