body {
    background-color:#EEE;
    color:#000;
    margin:0px;
    height:100%;
    font-family:"Tahoma", "Arial";
}

h1{
    text-shadow: 1px 1px #375EAB, -1px 1px #375EAB, 1px -1px #375EAB, -1px -1px #375EAB;
    color:#FFF;
    margin: 10px 0px 0px 5px;
    letter-spacing:2px;
    font-size:2em;
}

footer{
    display:block;
    clear:both;
    padding:5px;
    z-index:10;
    position:absolute;
    bottom:0;
    width:100%;
    background-color:#000;
}

div#console{
    width:auto;
    height:140px;
    background-color:#000;
    color:#FFF;
    overflow-y:scroll;
}

div#console article{
    padding: 0px 0px 0px 10px;
    border-bottom:1px solid #555;
}

h2{
    border-bottom: 1px solid #000;
    display:block;
    font-size:1.5em;
}

content{
    width:100%;
    overflow-y:scroll;
    position:absolute;
}

content section{
    margin: 10px;
    overflow-y:scroll;
}

section p{
    padding:5px;
    background-color:#FFF;
    border: 1px #000 solid;
    border-radius: 5px;
}

content{
    height:auto;
    overflow-y:scroll;
}

content section sub table{
    background-color:#FFF;
    width:400px;
}

content section sub table tr{
    background-color:#FFF;
    border-bottom: 1px solid #000;
}