<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>gochat-Test</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script type="text/javascript" charset="utf-8">
	var conn = "ws://{{$}}/ws"
	
	var websocket;
	
	const command = {"Type":0,"Value":""}
	const REGISTER = 0
	const MESSAGE = 1
	const BLOGIN = 2
	const BLOGOUT = 3
	
	function connect(){
		websocket = new WebSocket(conn)
		
		websocket.onclose = function(evt){
			$("#messages").append($("<div>").text("Closed"))
		}
		
		websocket.onopen = function(evt){
			command.Type = REGISTER 
			command.Value = window.btoa(username)
			this.send(JSON.stringify(command))
			
			
			command.Type = BLOGIN
			command.Value = window.btoa("")
			this.send(JSON.stringify(command))
			


		}
		
			
		websocket.onmessage = function(evt){
			var obj = JSON.parse(evt.data);
			var name;
			if(!obj.Usr){
				name = "Anon"
			}else{
				name = obj.Usr.Name
			}
			
			if(name === "All user"){
				var messageArray = JSON.parse(window.atob(obj.Msg))
				
				for(i = 0; i< messageArray.length; i++){
					var message = messageArray[i];
					$("#messages").append($("<div/>").text(message.Usr.Name+" | "+window.atob(message.Msg)));
				}
				
			}else{
				$("#messages").append($("<div/>").text(name+" | "+window.atob(obj.Msg)));
			}
			
		}
		
	}
	
	var username;
	
	$(function(){
		username = sessionStorage["usr"];
		
		$($("h1")[0]).text(conn);
		
		connect();
		
		$("#msg").keyup(function(event){
			if(event.which === 13){
				var msg = $("#msg").val();
				command.Type = MESSAGE
				command.Value = window.btoa(msg)
				websocket.send(JSON.stringify(command))
				event.preventDefault()
			}
		})
		
		$("#send").click(function(){
			var msg = $("#msg").val();
			command.Type = MESSAGE
			command.Value = window.btoa(msg)
			websocket.send(JSON.stringify(command))
			event.preventDefault()
			
		})

		$("#logout").click(function(){
			command.Type = BLOGOUT			
			command.Value = window.btoa("")
			websocket.send(JSON.stringify(command))

		})
	});
	</script>
	<style type="text/css" media="screen">
		h1{
			font-size:18px;
		}
		#messages{
			width:640px;
			height:480px;
			background-color:#EEEEEE;
		}
	</style>
</head>
<body>
	<h1></h1>
	<div id="messages">
	</div>
	<input type="text" id="msg"><button id="send">Send</button>
	<button id="logout">Logout</button>
</body>
</html>
