<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Login</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" charset="utf-8">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script type="text/javascript" charset="utf-8">
	$(function(){
		$("#username").keyup(function(){
			if($(this).val().length != 0){
				$("#sub").removeAttr('disabled');
			}else{
				$("#sub").attr('disabled', 'disabled');
			}
		});
		
		$("#sub").click(function(){
			sessionStorage["usr"] = $("#username").val()
		})
	})
	</script>
</head>
<body>
	<h1>gofire</h1>
	<div id="login">
	<form action="doLogin" method="post">
		<input type="text" name="username" id="username" placeholder="Username">
		<input type="submit" id="sub" value="Login" disabled="disabled">
	</form>
	</div>
	<footer>
		WE LOVE THE GO CODE CUZ GOOGLE'S GOOD TO US!!!!
	</footer>
</body>
</html>