<!DOCTYPE html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Chat</title>
	<link rel="stylesheet" href="css/pg.css" type="text/css" media="all" charset="utf-8">
	<script src="js/jquery-1.9.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
	var ctrlKey = false;
	const LEFT = 37,RIGHT=39;
	
	$(function(){
		$(document).keydown(function(e){
			var code = e.keyCode;
			if(code === 17){
				ctrlKey = true;
			}
			
			if(code === RIGHT && ctrlKey){
				$("ul").animate({marginLeft:"-=640px"}, 900);
				e.preventDefault();
			}
			
			if(code === LEFT && ctrlKey){
				$("ul").animate({marginLeft:"+=640px"}, 900);
				e.preventDefault();
			}
		});
		
		$(document).keyup(function(e){
			var code = e.keyCode;
			if(code === 17){
				ctrlKey = true;
			}
		});
	});
	</script>
</head>
<body>
	<h1>gofire</h1>
	<div id="carousel">
		<ul>
			<li>
				<div class="chat"></div>
			</li>
			<li>
				<div class="chat"></div>
			</li>
			<li>
				<div class="chat"></div>
			</li>
		</ul>
	</div>
	<div id="inputset">
		<input type="text" id="message" /><button id="send">Send</button>
	</div>
</body>