<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>parser_test</title>
	<script src="js/jquery-1.9.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			$("#submit").click(function(){
				var text = $("#thetext").val();
				parse(text);
			});
		});
		
		var Scanner = function Scanner(text){
			this.text = text;
			this.len = text.length;
			this.actual = 0;
		}
		
		Scanner.prototype.peek = function(){
			var next = this.actual;
			return this.text[++next]
		}
		
		Scanner.prototype.next = function(){
			this.actual++;
			return this.text[this.actual]
		}
		
		Scanner.prototype.back = function(){
			this.actual--;
			return this.text[this.actual]
		}
		
		Scanner.prototype.hasNext = function(){
			return this.actual != this.len
		}
		
		Scanner.prototype.scan = function(){
			return this.text[this.actual]
		}
		
		const AtKey = "@"
		const SPACE = " "
		
		const AT = 0
		const US = 1
		const SP = 2
		const MS = 3
		const EOF = -1
		
		var Token = function Token(type, value, column){
			this.type = type
			this.value = value
			this.column = column
		}
		
		function parse(text){
			var scanner = new Scanner(text)
			var ch = scanner.scan()
			
			var tokens = new Array()
			var buffer = new Array()
			
			while(scanner.hasNext()){
				
				var found = false;
				
				if(ch == "@"){
					tokens.push(new Token(AT, ch, scanner.actual))
					found = true
				}
				
				if(ch == " "){
					if(tokens[tokens.length-1].type == MS){
						return
					}
					
					if(tokens[tokens.length-1].type == AT){
						tokens.push(new Token(US, buffer.join(""), scanner.actual))
						tokens.push(new Token(SP, ch, scanner.actual))
						buffer = new Array()
						found = true
					}
				}
				
				if(!found){
					buffer.push(ch)
				}
				
				ch = scanner.next()
			}
			
			if(buffer.length != 0){
				if(tokens[tokens.length-1].type == AT){
					$("#info").text("No Message")
				}
				
				if(tokens[tokens.length-1].type == SP){
					tokens.push(new Token(MS, buffer.join(""), scanner.actual-1));
				}
				
			}
			
			tokens.push(new Token(EOF, "EOF", scanner.actual));
			
			for(i = 0; i < tokens.length; i++){
				console.log(tokens[i].type+" | "+tokens[i].value)
			}
			
		}
	</script>
</head>
<body>
	<input type="text" id="thetext"/><button id="submit">SUB</button>
	<div id="info"></div>
</body>
<html>